.vscode

finnhub-producer/.venv/
news-producer/.venv/
stream-processor-light/.venv/
stock-data-sync/.venv/
stock-summary-slm/.venv/
finnhub-producer/.env
news-producer/.env
stream-processor-light/.env
stock-data-sync/.env
stock-summary-slm/.env

stock-streaming-data-pipeline-helm/*.tgz